name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  go-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: '1.22'
    - run: go test ./...

  nix-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v26
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: nix-community/cache-nix-action@v3
      with:
        primary-key: nix-${{ runner.os }}-${{ hashFiles('**/flake.lock', 'flake.nix') }}
        restore-keys: |
          nix-${{ runner.os }}-
    - run: nix flake check
